---
import Icon from "../icon.astro";
import Layout from "../layout.astro";
---

<Layout
  title="DT-Utils"
  description="A gamut of productivity utilities for developers"
>
  <div
    class="flex flex-col justify-start items-center h-screen-dvh py-20 px-40 bg-background gap-16"
  >
  <Icon class="h-60 w-auto"/>
    <h1 class="font-text text-9xl text-gradient">DT-Utils</h1>
    </div>
  </div>
</Layout>
