@import "tailwindcss";

@theme {
  --gradient: linear-gradient(
    90deg,
    var(--color-primary-1) 0%,
    var(--color-primary-2) 20%,
    var(--color-primary-3) 40%,
    var(--color-primary-4) 60%,
    var(--color-primary-5) 80%,
    var(--color-primary-6) 100%
  );
  --color-primary-1: oklch(0.6135 0.1413 249.93);
  --color-primary-2: oklch(0.6337 0.1371 266.06);
  --color-primary-3: oklch(0.6332 0.1327 272.33);
  --color-primary-4: oklch(0.6281 0.1315 289.81);
  --color-primary-5: oklch(0.6246 0.1125 320.65);
  --color-primary-6: oklch(0.626 0.1152 334.53);
  --color-background: oklch(0 0 0);
  --color-text: oklch(100 0 0);
  --height-screen-dvh: 100svh;
  --font-text: "Byte Bounce", "sans-serif";
}

@layer utilities {
  .text-primary {
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

@font-face {
  font-family: "Byte Bounce";
  src: url("/Byte_Bounce.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@view-transition {
  navigation: auto;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate {
  opacity: 0;
  animation: fadeDown 0.6s ease forwards;
}

@view-transition {
  navigation: auto;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down {
  opacity: 0;
  animation: fadeDown 0.6s ease forwards;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: var(--color-primary-3);
  color: var(--color-background);
}
