@import "tailwindcss";

@theme {
  --color-primary: oklch(0.7255 0.2356 142.94);
  --color-background: oklch(0% 0 0);
  --color-text: oklch(100% 0 0);
  --height-screen-dvh: 100svh;
  --font-text: "Byte Bounce", "sans-serif";
}

@font-face {
  font-family: "Byte Bounce";
  src: url("/Byte_Bounce.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@view-transition {
  navigation: auto;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate {
  opacity: 0;
  animation: fadeDown 0.6s ease forwards;
}

@view-transition {
  navigation: auto;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down {
  opacity: 0;
  animation: fadeDown 0.6s ease forwards;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}
